<div class="container mt-4">
    <div class="row">
        <div class="col-md-2">
            <div class="mb-4">
                <img src="./assets/img/avisos/208x375.png" class="w-100">
            </div>
            <div class="mb-4">
                <img src="./assets/img/avisos/208x375.png" class="w-100">
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        <img src="./assets/img/avisos/449x143.png" class="w-100">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        <img src="./assets/img/avisos/449x143.png" class="w-100">
                    </div>
                </div>
            </div>
            <div>
                <img src="./assets/img/banner.png" class="w-100">
            </div>
            <div class="px-4 mt-n5 mb-4">
                <div class="card shadow rounded card-search">
                    <div class="card-body">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <select id="condicion" class="form-select">
                                            <option value="">Seleccionar</option>
                                        </select>
                                        <label for="condicion">Condición</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <select id="marca" class="form-select">
                                            <option value="">Seleccionar</option>
                                        </select>
                                        <label for="marca">Marca</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <select id="modelo" class="form-select">
                                            <option value="">Seleccionar</option>
                                        </select>
                                        <label for="modelo">Modelo</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="d-grid">
                                        <button class="btn btn-primary btn-lg btn-radius">Registro</button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <a href="#" class="fw-bold">[+] Busqueda avanzada</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <h3 class="text-uppercase text-muted fw-bold">BUSCALOS POR <span class="text-primary">MARCA</span></h3>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-outline-light" style="">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="http://via.placeholder.com/120x100">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            TOYOTA
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="#2" class="btn btn-outline-light" style="">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="http://via.placeholder.com/120x100">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            KIA
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-outline-light" style="">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="http://via.placeholder.com/120x100">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            HYUNDAI
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-outline-light" style="">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="http://via.placeholder.com/120x100">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            NISSAN
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-outline-light" style="">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="http://via.placeholder.com/120x100">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            MAZDA
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-outline-light" style="">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="http://via.placeholder.com/120x100">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            VOLKSWAGEN
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-outline-light" style="">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="http://via.placeholder.com/120x100">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            AUDI
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-outline-light" style="">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="http://via.placeholder.com/120x100">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            SUBARU
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-outline-light" style="">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="http://via.placeholder.com/120x100">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            CHEVROLET
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-outline-light" style="">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="http://via.placeholder.com/120x100">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            HONDA
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-outline-light" style="">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="http://via.placeholder.com/120x100">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            SUZUKI
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-outline-light" style="">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="http://via.placeholder.com/120x100">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            JEEP
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <img src="./assets/img/avisos/900x143.png" class="w-100">
            </div>
            <div class="mb-4">
                <h3 class="text-uppercase text-muted fw-bold">AVISOS <span class="text-primary">DESTACADOS</span></h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card border border-0 bg-light mb-4 rounded-3">
                        <div class="overlay-primary rounded-3">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-light btn-lg shadow text-primary fw-bold" style="">COMPRAR</a>
                            </div>
                        </div>
                        <div class="card-img">
                            <img class="card-img-top" src="http://via.placeholder.com/120x100">
                            <div class="price text-truncate">S/ 99,999.00</div>
                        </div>
                        <div class="card-body text-truncate">
                            <span class="text-dark fw-bold">Toyota</span>
                            <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                            <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                            <div class="social">
                                <img src="https://via.placeholder.com/32" class="rounded-circle">
                                <span class="text-muted">John Doe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card border border-0 bg-light mb-4 rounded-3">
                        <div class="overlay-primary rounded-3">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-light btn-lg shadow text-primary fw-bold" style="">COMPRAR</a>
                            </div>
                        </div>
                        <div class="card-img">
                            <img class="card-img-top" src="http://via.placeholder.com/120x100">
                            <div class="price text-truncate text-truncate">S/ 99,999.00</div>
                        </div>
                        <div class="card-body text-truncate">
                            <span class="text-dark fw-bold">Toyota</span>
                            <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                            <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                            <div class="social">
                                <img src="https://via.placeholder.com/32" class="rounded-circle">
                                <span class="text-muted">John Doe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card border border-0 bg-light mb-4 rounded-3">
                        <div class="overlay-primary rounded-3">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-light btn-lg shadow text-primary fw-bold">COMPRAR</a>
                            </div>
                        </div>
                        <div class="card-img">
                            <img class="card-img-top" src="http://via.placeholder.com/120x100">
                            <div class="price text-truncate text-truncate">S/ 99,999.00</div>
                        </div>
                        <div class="card-body text-truncate">
                            <span class="text-dark fw-bold">Toyota</span>
                            <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                            <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                            <div class="social">
                                <img src="https://via.placeholder.com/32" class="rounded-circle">
                                <span class="text-muted">John Doe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card border border-0 bg-light mb-4 rounded-3">
                        <div class="overlay-primary rounded-3">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-light btn-lg shadow text-primary fw-bold" style="">COMPRAR</a>
                            </div>
                        </div>
                        <div class="card-img">
                            <img class="card-img-top" src="http://via.placeholder.com/120x100">
                            <div class="price text-truncate text-truncate">S/ 99,999.00</div>
                        </div>
                        <div class="card-body text-truncate">
                            <span class="text-dark fw-bold">Toyota</span>
                            <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                            <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                            <div class="social">
                                <img src="https://via.placeholder.com/32" class="rounded-circle">
                                <span class="text-muted">John Doe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card border border-0 bg-light mb-4 rounded-3">
                        <div class="overlay-primary rounded-3">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-light btn-lg shadow text-primary fw-bold" style="">COMPRAR</a>
                            </div>
                        </div>
                        <div class="card-img">
                            <img class="card-img-top" src="http://via.placeholder.com/120x100">
                            <div class="price text-truncate text-truncate">S/ 99,999.00</div>
                        </div>
                        <div class="card-body text-truncate">
                            <span class="text-dark fw-bold">Toyota</span>
                            <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                            <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                            <div class="social">
                                <img src="https://via.placeholder.com/32" class="rounded-circle">
                                <span class="text-muted">John Doe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card border border-0 bg-light mb-4 rounded-3">
                        <div class="overlay-primary rounded-3">
                            <div class="d-grid">
                                <a href="#1" class="btn btn-light btn-lg shadow text-primary fw-bold" style="">COMPRAR</a>
                            </div>
                        </div>
                        <div class="card-img">
                            <img class="card-img-top" src="http://via.placeholder.com/120x100">
                            <div class="price text-truncate text-truncate">S/ 99,999.00</div>
                        </div>
                        <div class="card-body text-truncate">
                            <span class="text-dark fw-bold">Toyota</span>
                            <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                            <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                            <div class="social">
                                <img src="https://via.placeholder.com/100" class="rounded-circle">
                                <span class="text-muted">John Doe</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4 text-center">
                <a href="#" class="btn btn-lg btn-primary btn-large btn-radius button">Más avisos</a>
            </div>
        </div>
        <div class="col-md-2">
            <div class="mb-4">
                <img src="./assets/img/avisos/208x375.png" class="w-100">
            </div>
            <div class="mb-4">
                <img src="./assets/img/avisos/208x375.png" class="w-100">
            </div>
        </div>
    </div>
</div>
<a href="#" class="btn btn-lg btn-float text-white shadow fw-bold btn-radius"><i class="lnr lnr-plus"></i> VENDER</a>