<div class="container mt-4">
    <div class="row">
        <div class="col-md-2">
            <div class="mb-4">
                <img src="./assets/img/avisos/208x375.png" class="w-100">
            </div>
            <div class="mb-4">
                <img src="./assets/img/avisos/208x375.png" class="w-100">
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-4">
                        <img src="./assets/img/avisos/449x143.png" class="w-100">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                        <img src="./assets/img/avisos/449x143.png" class="w-100">
                    </div>
                </div>
            </div>
            <div>
                <img src="./assets/img/banner.png" class="w-100">
            </div>
            <div class="px-4 mt-n5 mb-4">
                <div class="card shadow rounded card-search">
                    <div class="card-body">
                        <form [formGroup]="formulario" autocomplete="off">
                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <select formControlName="condicion" name="condicion" id="condicion" class="form-select">
                                            <option value="0">(Seleccionar)</option>
                                            <option value="1">Usado</option>
                                            <option value="2">Nuevo</option>
                                        </select>
                                        <label for="condicion">Condición</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <select formControlName="marca" name="marca" id="marca" class="form-select">
                                            <option value="0">(Seleccionar)</option>
                                            <option *ngFor="let marca of marcas" [value]="marca.id_marca"> {{ marca.descrip_marca }} </option>
                                        </select>
                                        <label for="marca">Marca</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="form-floating mb-3">
                                        <select formControlName="modelo" name="modelo" id="modelo" class="form-select">
                                            <option value="0">(Seleccionar)</option>
                                            <option *ngFor="let mod of modelos" [value]="mod.id_modelo"> {{ mod.descrip_modelo }} </option>
                                        </select>
                                        <label for="modelo">Modelo</label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <div class="d-grid">
                                        <button class="btn btn-primary btn-lg btn-radius" (click)="busqueda_rapida()">Buscar</button>
                                    </div>
                                </div>
                                <!-- <div class="col-md-12">
                                    <a href="#" class="fw-bold">[+] Busqueda avanzada</a>
                                </div> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <h3 class="text-uppercase text-muted fw-bold">BUSCALOS POR <span class="text-primary">MARCA</span></h3>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="javascript:void(0)" (click)="seleccion_marca(151)" class="btn btn-outline-light">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="https://cde.neoauto.pe/marca/logo/106x105/403/toyota.jpg">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            TOYOTA
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="javascript:void(0)" (click)="seleccion_marca(81)" class="btn btn-outline-light">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="https://cde.neoauto.pe/marca/logo/106x105/240/kia.jpg">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            KIA
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="javascript:void(0)" (click)="seleccion_marca(64)" class="btn btn-outline-light">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="https://cde.neoauto.pe/marca/logo/106x105/189/hyundai.jpg">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            HYUNDAI
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="javascript:void(0)" (click)="seleccion_marca(108)" class="btn btn-outline-light">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="https://cde.neoauto.pe/marca/logo/106x105/309/nissan.jpg">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            NISSAN
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="javascript:void(0)" (click)="seleccion_marca(99)" class="btn btn-outline-light">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="https://cde.neoauto.pe/marca/logo/106x105/279/mazda.jpg">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            MAZDA
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="javascript:void(0)" (click)="seleccion_marca(157)" class="btn btn-outline-light">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="https://cde.neoauto.pe/marca/logo/106x105/433/volkswagen.jpg">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            VOLKSWAGEN
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="javascript:void(0)" (click)="seleccion_marca(8)" class="btn btn-outline-light">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="https://cde.neoauto.pe/marca/logo/106x105/21/audi.jpg">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            AUDI
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="javascript:void(0)" (click)="seleccion_marca(145)" class="btn btn-outline-light">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="https://cde.neoauto.pe/marca/logo/106x105/386/subaru.jpg">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            SUBARU
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="javascript:void(0)" (click)="seleccion_marca(26)" class="btn btn-outline-light">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="https://cde.neoauto.pe/marca/logo/106x105/66/chevrolet.jpg">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            CHEVROLET
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="javascript:void(0)" (click)="seleccion_marca(60)" class="btn btn-outline-light">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="https://cde.neoauto.pe/marca/logo/106x105/181/honda.jpg">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            HONDA
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="javascript:void(0)" (click)="seleccion_marca(146)" class="btn btn-outline-light">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="https://cde.neoauto.pe/marca/logo/106x105/387/suzuki.jpg">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            SUZUKI
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                    <div class="card border border-primary mb-4">
                        <div class="overlay-primary-min">
                            <div class="d-grid">
                                <a href="javascript:void(0)" (click)="seleccion_marca(73)" class="btn btn-outline-light">VER OFERTAS</a>
                            </div>
                        </div>
                        <img class="card-img-top" src="https://cde.neoauto.pe/marca/logo/106x105/218/jeep.jpg">
                        <div class="card-header bg-primary text-white text-center text-truncate">
                            JEEP
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <img src="./assets/img/avisos/900x143.png" class="w-100">
            </div>
            <div class="mb-4">
                <h3 class="text-uppercase text-muted fw-bold">AVISOS <span class="text-primary">DESTACADOS</span></h3>
            </div>
            <div class="row">
                <div *ngFor="let veh of vehiculos" class="col-lg-4 col-md-6 col-12">
                    <div class="card border border-0 bg-light mb-4 rounded-3">
                        <div class="overlay-primary rounded-3">
                            <div class="d-grid">
                                <a href="javascript:void(0)" (click)="ver_auto(veh)" class="btn btn-light btn-lg shadow text-primary fw-bold">COMPRAR</a>
                            </div>
                        </div>
                        <div class="card-img">
                            <img class="card-img-top" [src]="obtener_ruta(veh.imagen)">
                            <!-- <div class="price text-truncate">S/ 99,999.00</div> -->
                            <div class="price text-truncate"> {{ veh.precio | currency: 'PEN': 'symbol': '': 'es-PE' }} </div>
                        </div>
                        <div class="card-body text-truncate">
                            <span class="text-dark fw-bold"> {{ veh.descrip_marca }} </span>
                            <h3 class="text-muted fw-bold mb-4"> {{ veh.descrip_modelo }} </h3>
                            <small class="text-small text-primary fw-bold d-block mb-2"> {{ veh.condicion_vehiculo }} </small>
                            <div class="social">
                                <img src="https://c8.alamy.com/zoomses/9/9c30002a90914b58b785a537a39421ba/2c80ydc.jpg" class="rounded-circle">
                                <span class="text-muted"> {{ veh.usuario }} </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6 col-12">
                    <div class="card border border-0 bg-light mb-4 rounded-3">
                        <div class="overlay-primary rounded-3">
                            <div class="d-grid">
                                <a href="javascript:void(0)" class="btn btn-light btn-lg shadow text-primary fw-bold" >COMPRAR</a>
                            </div>
                        </div>
                        <div class="card-img">
                            <img class="card-img-top" src="http://via.placeholder.com/120x100">
                            <div class="price text-truncate text-truncate">S/ 99,999.00</div>
                        </div>
                        <div class="card-body text-truncate">
                            <span class="text-dark fw-bold">Toyota</span>
                            <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                            <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                            <div class="social">
                                <img src="https://via.placeholder.com/32" class="rounded-circle">
                                <span class="text-muted">John Doe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card border border-0 bg-light mb-4 rounded-3">
                        <div class="overlay-primary rounded-3">
                            <div class="d-grid">
                                <a href="javascript:void(0)" class="btn btn-light btn-lg shadow text-primary fw-bold">COMPRAR</a>
                            </div>
                        </div>
                        <div class="card-img">
                            <img class="card-img-top" src="http://via.placeholder.com/120x100">
                            <div class="price text-truncate text-truncate">S/ 99,999.00</div>
                        </div>
                        <div class="card-body text-truncate">
                            <span class="text-dark fw-bold">Toyota</span>
                            <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                            <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                            <div class="social">
                                <img src="https://via.placeholder.com/32" class="rounded-circle">
                                <span class="text-muted">John Doe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card border border-0 bg-light mb-4 rounded-3">
                        <div class="overlay-primary rounded-3">
                            <div class="d-grid">
                                <a href="javascript:void(0)" class="btn btn-light btn-lg shadow text-primary fw-bold" >COMPRAR</a>
                            </div>
                        </div>
                        <div class="card-img">
                            <img class="card-img-top" src="http://via.placeholder.com/120x100">
                            <div class="price text-truncate text-truncate">S/ 99,999.00</div>
                        </div>
                        <div class="card-body text-truncate">
                            <span class="text-dark fw-bold">Toyota</span>
                            <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                            <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                            <div class="social">
                                <img src="https://via.placeholder.com/32" class="rounded-circle">
                                <span class="text-muted">John Doe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card border border-0 bg-light mb-4 rounded-3">
                        <div class="overlay-primary rounded-3">
                            <div class="d-grid">
                                <a href="javascript:void(0)" class="btn btn-light btn-lg shadow text-primary fw-bold" >COMPRAR</a>
                            </div>
                        </div>
                        <div class="card-img">
                            <img class="card-img-top" src="http://via.placeholder.com/120x100">
                            <div class="price text-truncate text-truncate">S/ 99,999.00</div>
                        </div>
                        <div class="card-body text-truncate">
                            <span class="text-dark fw-bold">Toyota</span>
                            <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                            <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                            <div class="social">
                                <img src="https://via.placeholder.com/32" class="rounded-circle">
                                <span class="text-muted">John Doe</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card border border-0 bg-light mb-4 rounded-3">
                        <div class="overlay-primary rounded-3">
                            <div class="d-grid">
                                <a href="javascript:void(0)" class="btn btn-light btn-lg shadow text-primary fw-bold" >COMPRAR</a>
                            </div>
                        </div>
                        <div class="card-img">
                            <img class="card-img-top" src="http://via.placeholder.com/120x100">
                            <div class="price text-truncate text-truncate">S/ 99,999.00</div>
                        </div>
                        <div class="card-body text-truncate">
                            <span class="text-dark fw-bold">Toyota</span>
                            <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                            <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                            <div class="social">
                                <img src="https://via.placeholder.com/100" class="rounded-circle">
                                <span class="text-muted">John Doe</span>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- <div class="mb-4 text-center">
                <a href="#" class="btn btn-lg btn-primary btn-large btn-radius button">Más avisos</a>
            </div> -->
        </div>
        <div class="col-md-2">
            <div class="mb-4">
                <img src="./assets/img/avisos/208x375.png" class="w-100">
            </div>
            <div class="mb-4">
                <img src="./assets/img/avisos/208x375.png" class="w-100">
            </div>
        </div>
    </div>
</div>
<a href="#" class="btn btn-lg btn-float text-white shadow fw-bold btn-radius"><i class="lnr lnr-plus"></i> VENDER</a>