<div class="mb-4 bg-primary p-5">
    <div class="container">
        <span class="d-block text-center text-white">Soy particular</span>
        <h3 class="text-white text-center fw-bold">ELIGE TU PLAN IDEAL</h3>
    </div>
</div>
<div class="container mb-4">
    <div class="row justify-content-md-center gap-4">
        <div class="col-md-6 col-lg-3 mb-4 p-4 p-md-2">
            <div class="card border border-primary rounded-lg p-4">
                <div class="card-body text-center">
                    <h5 class="fw-bold text-primary mb-4">Aviso Básico</h5>
                    <span class="text-secondary mb-3 fs-4 fw-semibold d-block">1 aviso</span>
                    <span class="text-secondary mb-3 fs-3 fw-bold d-block">Gratis</span>
                    <ul class="text-center text-secondary small mb-4 list-unstyled">
                        <li class="mb-2">15 días de publicación</li>
                        <li class="mb-2">3 fotos por anuncio</li>
                        <li class="mb-2">3er Grupo de visualizaciones</li>
                        <li class="mb-2">Mostrado por fecha de aviso</li>
                        <li class="mb-2">No permite editar cambios en el anuncio</li>
                    </ul>
                    <div class="d-grid">
                        <a href="#" class="btn btn-primary fw-semibold btn-lg btn-radius">Elegir</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6 col-lg-3 mb-4 p-4 p-md-2">
            <div class="card border border-info rounded-lg p-4">
                <div class="card-body text-center">
                    <h5 class="fw-bold text-info mb-4">Aviso Simple</h5>
                    <span class="text-secondary mb-3 fs-4 fw-semibold d-block">1 aviso</span>
                    <span class="text-secondary mb-3 fs-3 fw-bold d-block text-decoration-line-through">S/99.00</span>
                    <ul class="text-center text-secondary small mb-4">
                        <li class="mb-2">30 días de publicación</li>
                        <li class="mb-2">8 fotos por anuncio</li>
                        <li class="mb-2">2er Grupo de visualizaciones</li>
                        <li class="mb-2">Permite editar el anuncio durante el periodo de publicación</li>
                    </ul>
                    <div class="d-grid">
                        <a href="#" class="btn btn-info fw-semibold btn-lg btn-radius">Elegir</a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-md-6 col-lg-3 mb-4 p-4 p-md-2">
            <div class="card border border-warning rounded-lg p-4">
                <div class="card-body text-center">
                    <h5 class="fw-bold text-warning mb-4">Aviso Básico</h5>
                    <span class="text-secondary mb-3 fs-4 fw-semibold d-block">1 aviso</span>
                    <span class="text-secondary mb-3 fs-3 fw-bold d-block">S/. 99.90</span>
                    <ul class="text-center text-secondary small mb-4 list-unstyled">
                        <li class="mb-2">15 días de publicación</li>
                        <li class="mb-2">3 fotos por anuncio</li>
                        <li class="mb-2">3er Grupo de visualizaciones</li>
                        <li class="mb-2">Mostrado por fecha de aviso</li>
                        <li class="mb-2">No permite editar cambios en el anuncio</li>
                    </ul>
                    <div class="d-grid">
                        <a href="#" class="btn btn-warning fw-semibold btn-lg btn-radius">Elegir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>