<div class="contenedor-msg" style="width: 100%; text-align: center;">
    <div>
        <div class="alert alert-warning" role="alert">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Validando correo...
        </div>

        <div class="alert alert-success" role="alert">
            Su cuenta ha sido verificada con exito!!
        </div>
        <button type="button" class="btn btn-link" [routerLink]="['/inicia-ahora']">Iniciar sesión</button>
    </div>
</div>