<div class="mb-4 bg-primary p-5">
    <div class="container">
        <h3 class="text-white text-center fw-bold">¿Con cuál perfil te identificas?</h3>
    </div>
</div>
<div class="container mb-4 min-vh-100">
    <div class="row justify-content-md-center gap-4">

        <div class="col-md-6 col-lg-3 mb-4 p-4 p-md-2">
            <div class="card text-white rounded-lg">
                <img src="./assets/img/profesional.jpg" class="card-img rounded-lg">
                <div class="card-img-overlay p-4 d-flex justify-content-center flex-column rounded-lg">
                    <span class="card-title text-center mb-4">Profesional</span>
                    <div class="d-grid">
                        <a href="javascript:void(0)" [routerLink]="['/anuncio/planes-empresa']" class="btn btn-outline-light fw-semibold btn-lg btn-radius">Elegir</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 p-4 p-md-2">
            <div class="card text-white rounded-lg">
                <img src="./assets/img/dueno-directo.jpg" class="card-img rounded-lg">
                <div class="card-img-overlay p-4 d-flex justify-content-center flex-column rounded-lg">
                    <span class="card-title text-center mb-4">Dueño directo</span>
                    <div class="d-grid">
                        <a href="javascript:void(0)" [routerLink]="['/anuncio/planes']" class="btn btn-outline-light fw-semibold btn-lg btn-radius">Elegir</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>