<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-pulse" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>
<div class="container my-4">
    <div class="row">
        <div class="col-lg-3 col-md-4 mb-4">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-9 col-md-8 ps-6">
            <div class="mb-4">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                        <li class="breadcrumb-item">Finalizar publicación</li>
                    </ol>
                </nav>
            </div>
            <div class="mb-4">
                <h3 class="text-primary fw-bold">PUBLICA TU ANUNCIO</h3>
            </div>
            <div class="row">
                <div class="col-md-8 mb-4">
                    <div class="mb-4">
                        <span class="d-block text-muted fw-semibold fs-4">Datos de Facturación</span>
                    </div>
                    <form [formGroup]="formulario" autocomplete="off">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input formControlName="nombre" name="nombre" type="text" class="form-control" id="nombre" [class.is-invalid]="nombreNoValido">
                                    <label for="nombre">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input formControlName="apellido" name="apellido" type="text" class="form-control" id="apellido" [class.is-invalid]="apellidoNoValido">
                                    <label for="apellido">Apellido</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <input formControlName="razon_social" name="razon_social" type="text" class="form-control" id="compañia" [class.is-invalid]="razon_socialNoValido">
                                    <label for="compañia">Nombre compañia</label>
                                </div>
                            </div>
                            <!-- <div class="col-md-12">
                                <div class="form-floating mb-3">
                                    <select type="text" class="form-select" id="pais">
                                        <option value="">Seleccionar</option>
                                    </select>
                                    <label for="pais">País</label>
                                </div>
                            </div> -->
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select formControlName="departamento" name="departamento" type="text" class="form-select" id="departamento" [class.is-invalid]="departamentoNoValido">
                                        <option value="">(Seleccionar)</option>
                                        <option *ngFor="let depa of departamentos" [value]="depa.departamento"> {{ depa.departamento }} </option>
                                    </select>
                                    <label for="departamento">Departamento</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select formControlName="provincia" name="provincia" type="text" class="form-select" id="provincia" [class.is-invalid]="provinciaNoValido">
                                        <option value="">(Seleccionar)</option>
                                        <option *ngFor="let prov of provincias" [value]="prov.provincia"> {{ prov.provincia }} </option>
                                    </select>
                                    <label for="provincia">Provincia</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select formControlName="distrito" name="distrito" type="text" class="form-select" id="distrito" [class.is-invalid]="distritoNoValido">
                                        <option value="">(Seleccionar)</option>
                                        <option *ngFor="let dist of distritos" [value]="dist.ubigeo"> {{ dist.distrito }} </option>
                                    </select>
                                    <label for="distrito">Distrito</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating mb-3">
                                <input formControlName="direccion" name="direccion" type="text" class="form-control" id="direccion" [class.is-invalid]="direccionNoValido">
                                <label for="direccion">Dirección</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input formControlName="celular" name="celular" type="number" class="form-control" id="celular" [class.is-invalid]="celularNoValido">
                                    <label for="celular">Celular</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input formControlName="correo" name="correo" type="text" class="form-control" id="correo" [class.is-invalid]="correoNoValido">
                                    <label for="correo">Correo</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <span class="d-block mb-3 fs-5 fw-semibold text-secondary">Información adicional</span>
                                        <div class="form-floating mb-3">
                                            <textarea formControlName="adicional" name="adicional" class="form-control" id="notas" [class.is-invalid]="adicionalNoValido"></textarea>
                                            <label for="notas">Notas</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-md-4 mb-4">
                    <div class="card bg-primary text-white">
                        <div class="card-body">
                            <h5 class="fw-semibold">Tu orden</h5>
                            <div class="d-flex justify-content-between">
                                <span>Productos</span>
                                <span>Total</span>
                            </div>
                            <hr>
                            <!-- <div class="d-flex justify-content-between">
                                <span>Plan simple</span>
                                <span>S/.0.00</span>
                            </div> -->
                            <div class="d-flex justify-content-between">
                                <span>Plan Premium</span>
                                <span> {{ subtotal | currency: 'PEN': 'symbol': '': 'es-PE' }} </span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <span>IGV 18%</span>
                                <span> {{ igv | currency: 'PEN': 'symbol': '': 'es-PE' }} </span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between mb-4">
                                <span>Total</span>
                                <span>{{ costo_total | currency: 'PEN': 'symbol': '': 'es-PE' }}</span>
                            </div>
                            <div class="d-grid">
                                <button (click)="procesar()" class="btn btn-light btn-lg fw-semibold text-primary">Ir a pagar</button>
                                <!-- <button (click)="notificar_pago()" class="btn btn-light btn-lg fw-semibold text-primary">Realizar pago</button> -->
                                <button class="ocultar" #abrir_mdl_pago id="abrir_mdl_pago" data-bs-toggle="modal" data-bs-target="#myModal">abrir modal</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button #cerrar_mdl_pago id="cerrar_mdl_pago" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5 pt-0">

                <!-- <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->
                <div class="form text-center">
                    <h4>Realizar Pago</h4>
                    <br>
                    <div style="display: flex; justify-content: center;">
                        <div #myPaymentForm id="myPaymentForm"></div>
                    </div>
                </div>

                <!-- <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-2">
                                <small class="d-block mb-2">Número de la tarjeta</small>
                                <input type="text" class="form-control" placeholder="0000-0000-0000-0000">
                            </div>
                            <div class="mb-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="checkbox1">
                                    <small class="form-check-label" for="checkbox1">
                                        Quiero recibir noticias y ofertas exclusivas
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <small class="d-block mb-2">Fecha de expiración</small>
                                <input type="text" class="form-control" placeholder="Año/Mes/Día">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <small class="d-block mb-2">Código de seguridad</small>
                                <input type="text" class="form-control" placeholder="CVV">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <small class="d-block mb-2">Nombre del titular</small>
                                <input type="text" class="form-control" placeholder="Nombre">
                            </div>
                        </div>
                    </div>
                    <div class="d-grid mb-2">
                        <button class="btn btn-primary btn-lg ">Pagar S/0.00</button>
                    </div>
                    <a href="#" class="d-block text-center text-dark small fw-semibold">Regresar al comercio</a>
                </form> -->
            </div>
        </div>
    </div>
</div>