<div class="container my-4">
    <div class="row">
        <div class="col-lg-3 col-md-4 mb-4">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-9 col-md-8 ps-6">
            <div class="mb-4">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item">Cart</li>
                    </ol>
                </nav>
            </div>
            <div class="mb-4">
                <h3 class="text-primary fw-bold">PUBLICA TU ANUNCIO</h3>
            </div>
            <div class="mb-4">
                <span class="d-block text-muted fw-semibold fs-4">Tus planes</span>
            </div>
            <div class="mb-4">
                <div class="table-responsive">
                    <table class="table text-center fw-semibold align-middle">
                        <thead class="bg-primary text-white">
                            <tr>
                                <td>Producto</td>
                                <td>Precio unid.</td>
                                <td width="20%">Cantidad</td>
                                <td>Subtotal</td>
                                <!-- <td>Acción</td> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Plan Premium(Auto)</td>
                                <td>S/ 49.00</td>
                                <td> {{ cantidad_veh }} </td>
                                <td> {{ (cantidad_veh * 49) | currency: 'PEN': 'symbol': '': 'es-PE' }} </td>
                                <!-- <td>
                                    <button class="text-muted btn btn-sm">
                                        <i class="lnr lnr-edit"></i>
                                    </button>
                                    <button class="text-muted btn btn-sm">
                                        <i class="lnr lnr-trash"></i>
                                    </button>
                                </td> -->
                            </tr>
                            <tr>
                                <td>Plan Premium(Propiedad)</td>
                                <td>S/ 129.00</td>
                                <td> {{ cantidad_prop }} </td>
                                <td> {{ (cantidad_prop * 129) | currency: 'PEN': 'symbol': '': 'es-PE' }} </td>
                                <!-- <td>
                                    <button class="text-muted btn btn-sm">
                                        <i class="lnr lnr-edit"></i>
                                    </button>
                                    <button class="text-muted btn btn-sm">
                                        <i class="lnr lnr-trash"></i>
                                    </button>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <button [routerLink]="['/anuncio/seleccionar']" type="button" class="btn btn-outline-secondary btn-lg btn-large border-2 fw-semibold mb-4">Continuar comprando</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-lg btn-large btn-radius mb-4 d-block ms-auto">Limpiar carro</button>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card border border-secondary rounded-lg mb-4">
                            <div class="card-body p-4">
                                <h5 class="fw-semibold text-secondary">Usar cupón</h5>
                                <span class="text-secondary d-block mb-3">Ingresa el número del cupón</span>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="****">
                                </div>
                                <button type="button" class="btn btn-primary btn-lg btn-large btn-radius">Aplicar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card border border-secondary rounded-lg">
                            <div class="card-body p-4">
                                <h5 class="fw-semibold text-secondary">Total a Pagar</h5>
                                <div class="d-flex justify-content-between">
                                    <span class="text-secondary d-block">Subtotal</span>
                                    <span class="text-secondary"> {{ subtotal | currency: 'PEN': 'symbol': '': 'es-PE' }} </span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="text-secondary d-block">Igv(18%)</span>
                                    <span class="text-secondary"> {{ igv | currency: 'PEN': 'symbol': '': 'es-PE' }} </span>
                                </div>
                                <hr class="my-2">
                                <div class="d-flex justify-content-between mb-4">
                                    <span class="text-muted d-block">Costo total</span>
                                    <span class="text-muted">{{ costo_total | currency: 'PEN': 'symbol': '': 'es-PE' }}</span>
                                </div>

                                <button type="button" (click)="procesar()" class="btn btn-primary btn-lg btn-large btn-radius">Procesar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>