<div class="container my-4">
    <div class="row">
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="sticky-lg-top">
                <div class="d-flex flex-column p-4 bg-primary">
                    <span class="d-block text-white fw-semibold mb-4">Administrar publicaciones</span>
                    <ul class="nav nav-pills flex-column mb-4" id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white px-0 fw-light">
                                <img class="me-2" src="./assets/img/icons/dialogo.svg"> Mis publicaciones
                            </a>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link text-white px-0">
                                <img class="me-2" src="./assets/img/icons/home.svg"> Publicar propiedad
                            </a>
                            <ul class="collapse nav flex-column ms-4" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link text-white px-0 fw-light">1. Principales</a>
                                </li>
                                <li class="w-100">
                                    <a href="#" class="nav-link text-white px-0 fw-light">2. Multimedia</a>
                                </li>
                                <li class="w-100">
                                    <a href="#" class="nav-link text-white px-0 fw-light">3. Extras</a>
                                </li>
                                <li class="w-100">
                                    <a href="#" class="nav-link text-white px-0 fw-light">4. Publicar</a>
                                </li>
                            </ul>
                        </li>
                        <li class="mb-4">
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link text-white px-0">
                                <img class="me-2" src="./assets/img/icons/car.svg"> Publicar vehículo
                            </a>
                            <ul class="collapse nav flex-column ms-4" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link text-white px-0 fw-light">1. Información</a>
                                </li>
                                <li class="w-100">
                                    <a href="#" class="nav-link text-white px-0 fw-light">2. Ubicación</a>
                                </li>
                                <li class="w-100">
                                    <a href="#" class="nav-link text-white px-0 fw-light">3. Contacto</a>
                                </li>
                            </ul>
                        </li>
                        <li><span class="d-block text-white fw-semibold mb-4">Administrar cuenta</span></li>
                        <li>
                            <a href="#" class="nav-link text-white px-0 fw-light">
                                <img class="me-2" src="./assets/img/icons/user.svg"> Mi perfil
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white px-0 fw-light">
                                <img class="me-2" src="./assets/img/icons/cerrar.svg"> Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 ps-6">
            <div class="mb-4">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                        <li class="breadcrumb-item">Cart</li>
                    </ol>
                </nav>
            </div>
            <div class="mb-4">
                <h3 class="text-primary fw-bold">PUBLICA TU ANUNCIO</h3>
            </div>
            <div class="mb-4">
                <span class="d-block text-muted fw-semibold fs-4">Tus planes</span>
            </div>
            <div class="mb-4">
                <div class="table-responsive">
                    <table class="table text-center fw-semibold align-middle">
                        <thead class="bg-primary text-white">
                            <tr>
                                <td>Producto</td>
                                <td>Precio unid.</td>
                                <td width="20%">Cantidad</td>
                                <td>Subtotal</td>
                                <!-- <td>Acción</td> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Plan Básico</td>
                                <td>S/ 0.00</td>
                                <td> {{ cantidad_basico }} </td>
                                <td>S/ 0.00</td>
                                <!-- <td>
                                    <button class="text-muted btn btn-sm">
                                        <i class="lnr lnr-edit"></i>
                                    </button>
                                    <button class="text-muted btn btn-sm">
                                        <i class="lnr lnr-trash"></i>
                                    </button>
                                </td> -->
                            </tr>
                            <tr>
                                <td>Plan Premium</td>
                                <td>S/ 99.90</td>
                                <td> {{ cantidad_premium }} </td>
                                <td> {{ calcular_subtotal(cantidad_premium) | currency: 'PEN': 'symbol': '': 'es-PE' }} </td>
                                <!-- <td>
                                    <button class="text-muted btn btn-sm">
                                        <i class="lnr lnr-edit"></i>
                                    </button>
                                    <button class="text-muted btn btn-sm">
                                        <i class="lnr lnr-trash"></i>
                                    </button>
                                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mb-4">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-outline-secondary btn-lg btn-large border-2 fw-semibold mb-4">Continuar comprando</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-lg btn-large btn-radius mb-4 d-block ms-auto">Limpiar carro</button>
                    </div>
                </div>
            </div>
            <div class="mb-4">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card border border-secondary rounded-lg mb-4">
                            <div class="card-body p-4">
                                <h5 class="fw-semibold text-secondary">Usar cupón</h5>
                                <span class="text-secondary d-block mb-3">Ingresa el número del cupón</span>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="****">
                                </div>
                                <button type="button" class="btn btn-primary btn-lg btn-large btn-radius">Aplicar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card border border-secondary rounded-lg">
                            <div class="card-body p-4">
                                <h5 class="fw-semibold text-secondary">Total a Pagar</h5>
                                <div class="d-flex justify-content-between">
                                    <span class="text-secondary d-block">Subtotal</span>
                                    <span class="text-secondary"> {{ subtotal | currency: 'PEN': 'symbol': '': 'es-PE' }} </span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="text-secondary d-block">Igv(18%)</span>
                                    <span class="text-secondary"> {{ igv | currency: 'PEN': 'symbol': '': 'es-PE' }} </span>
                                </div>
                                <hr class="my-2">
                                <div class="d-flex justify-content-between mb-4">
                                    <span class="text-muted d-block">Costo total</span>
                                    <span class="text-muted">{{ costo_total | currency: 'PEN': 'symbol': '': 'es-PE' }}</span>
                                </div>

                                <button type="button" (click)="procesar()" class="btn btn-primary btn-lg btn-large btn-radius">Procesar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>