<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-pulse" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
</ngx-spinner>
<div class="container my-4">
    <div class="mb-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item">Autos</li>
                <li class="breadcrumb-item">Busqueda</li>
            </ol>
        </nav>
    </div>
    <div class="mb-4">
        <h3 class="text-primary fw-bold">BUSQUEDA</h3>
    </div>
    <div class="row">
        <div class="col-md-8">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            <!-- <div class="mb-2">
                <a href="./assets/img/placeholder/1000x400.png" id="linkImgFull" data-fslightbox>
                    <img src="./assets/img/placeholder/1000x400.png" class="w-100" id="imgFull" alt="">
                </a>
            </div>
            <div class="row mb-4">
                <div class="slick">
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_1.png" class="imgBox" alt="">
                    </div>
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_2.png" class="imgBox" alt="">
                    </div>
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_3.png" class="imgBox" alt="">
                    </div>
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_4.png" class="imgBox" alt="">
                    </div>
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_5.png" class="imgBox" alt="">
                    </div>
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_6.png" class="imgBox" alt="">
                    </div>
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_6.png" class="imgBox" alt="">
                    </div>
                </div>
            </div> -->
            <div class="card border-0 mb-4">
                <div class="card-header fw-bold text-muted">
                    Descripción
                </div>
                <div class="card-body text-justify text-muted">
                    {{ propiedad.descripcion }}
                </div>
            </div>
            <div class="card border-0 mb-4">
                <div class="card-header fw-bold text-muted">
                    Ubicado en
                </div>
                <div class="card-body text-muted">
                    <span class="d-block mb-4">
                        {{ propiedad.direccion }} - {{ propiedad.distrito }}, {{ propiedad.provincia }}
                    </span>
                    <!-- <img src="http://via.placeholder.com/1000x600" alt="" class="w-100"> -->
                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                        <!-- <agm-info-window>

                        </agm-info-window> -->
                    </agm-map>
                </div>
            </div>
            <div class="accordion accordion-flush mb-4" id="accordion">
                <div class="accordion-item mb-4">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                    Detalles
                  </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6">
                                    Ascensor: {{ propiedad.ascensores }}
                                </div>
                                <div class="col-md-6">
                                    Número de pisos: {{ propiedad.pisos }}
                                </div>
                                <div class="col-md-6">
                                    Baño de servicios: {{ propiedad.pisos }}
                                </div>
                                <div class="col-md-6">
                                    Cocheras: {{ propiedad.cocheras }}
                                </div>
                                <div class="col-md-6">
                                    Mascotas: {{ propiedad.mascotas }}
                                </div>
                                <div class="col-md-6">
                                    Piso: {{ propiedad.piso }}
                                </div>
                                <div class="col-md-6">
                                    Uso profesional: {{ propiedad.uso_profesional }}
                                </div>
                                <div class="col-md-6">
                                    Mantenimiento: {{ propiedad.mantenimiento | currency: 'PEN': 'symbol': '': 'es-PE' }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="accordion-item mb-4">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                    Servicios
                  </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Iste id, provident vel veritatis deserunt ratione incidunt aliquid, neque quisquam alias, ipsa perspiciatis eum. Illum deserunt voluptatum repudiandae cum fugiat nam.
                        </div>
                    </div>
                </div>
                <div class="accordion-item mb-4">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                    Ambientes
                  </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Inventore repellendus enim, architecto nostrum, minima cumque fugiat non placeat nulla nobis, ipsa itaque? Animi quae, reiciendis, ratione possimus corporis soluta? Eaque?
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="mb-4 bg-light border rounded-3 p-4">
                <span class="d-block text-danger fw-bold mb-4"><i class="lnr lnr-exclamation-triangle"></i> Hay algún error en este aviso <span class="text-muted fw-normal ms-2">Selecciona un motivo</span></span>
                <a href="#" class="btn btn-outline-primary fw-semibold btn-radius border-2 mb-2 d-block d-md-inline-block text-truncate">El inmueble ya está rentado o vendido</a>
                <a href="#" class="btn btn-outline-primary fw-semibold btn-radius border-2 mb-2 d-block d-md-inline-block text-truncate">Es un intento de estafa</a>
                <a href="#" class="btn btn-outline-primary fw-semibold btn-radius border-2 mb-2 d-block d-md-inline-block text-truncate">Otro motivo</a>
            </div>
            <!-- <div class="mb-4 bg-light border rounded-3 p-4">
                <span class="d-block text-muted fw-semibold mb-4">Datos del anunciante</span>
                <div class="d-flex align-items-center gap-3 mb-4">
                    <img class="rounded-3 border border-dark border-2" src="http://via.placeholder.com/100" height="60">
                    <span class="text-danger fw-semibold"> {{ propiedad.nombre_contacto }} </span>
                </div>
                <span class="d-block text-muted fw-semibold">Cód. del anunciante: Kathya Bravo | Cód. Urbania: 61113805</span>
            </div>
            <div class="mb-4">
                <a href="#" class="btn btn-outline-primary fw-semibold btn-radius border-2 mb-2 text-truncate">Imprimir aviso</a>
            </div> -->
        </div>
        <div class="col-md-4">
            <span class="text-primary fw-semibold d-block">{{ propiedad.provincia }}, {{ propiedad.departamento }}</span>
            <h3 class="text-secondary fw-bold"><span class="text-primary">{{ propiedad.titulo }}</span> </h3>
            <!-- Neque porro quisquam est qui -->
            <span class="text-dark fw-semibold d-block mb-4"> {{ propiedad.tipo_inmueble_desc }}({{ propiedad.tipo_descripcion_desc }}) </span>
            <span class="d-block h1 fw-bold mb-4">{{ propiedad.precio | currency: 'PEN': 'symbol': '': 'es-PE' }}</span>
            <div class="p-3 border border-dark rounded-3 text-secondary fw-normal mb-4">
                <span class="d-block mb-2 fw-semibold">Por tu seguridad</span>
                <ul>
                    <li>No hagas transferencias o adelantos de dinero sin ver el vehículo.</li>

                    <li>Ten cuidado con vendedores que dicen estar en el extranjero, o que evaden información.</li>
                </ul>
            </div>
            <h5 class="d-block text-dark fw-bold">Vendedor</h5>
            <div class="social mb-4">
                <img src="https://via.placeholder.com/32" class="rounded-circle">
                <span class="text-muted">
                    <span class="fw-bold">{{ propiedad.nombre_contacto }}</span> <br>
                <div class="rating">
                    <img src="./assets/img/icons/star-fill.svg">
                    <img src="./assets/img/icons/star-empty.svg">
                    <img src="./assets/img/icons/star-empty.svg">
                    <img src="./assets/img/icons/star-empty.svg">
                    <img src="./assets/img/icons/star-empty.svg">
                </div>
                </span>
            </div>
            <div *ngIf="mostrar_formulario" class="mb-4">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active fw-semibold" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab">Mensaje</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-semibold" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab">Teléfono</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link fw-semibold" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab">WhatsApp</button>
                    </li>
                </ul>
                <div class="tab-content py-4" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                        <form [formGroup]="formulario_mensaje" autocomplete="off" (ngSubmit)="contactar_formulario_mensaje()">
                            <div class="form-floating mb-3">
                                <input formControlName="nombre" name="nombre" type="text" id="nombre" class="form-control" [class.is-invalid]="nombreNoValido_mensaje">
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Ingrese su nombre
                                </div>
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input formControlName="correo" name="correo" type="text" id="email" class="form-control" [class.is-invalid]="correoNoValido_mensaje">
                                <label for="email">Correo</label>
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Ingrese un correo válido
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input formControlName="telefono" name="telefono" type="text" id="telefono" class="form-control" [class.is-invalid]="telefonoNoValido_mensaje">
                                <label for="telefono">Teléfono</label>
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Ingrese un número telefónico
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea formControlName="mensaje" name="mensaje" id="mensaje" class="form-control" [class.is-invalid]="mensajeNoValido_mensaje"></textarea>
                                <label for="mensaje">Tu mensaje</label>
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Ingrese un mensaje
                                </div>
                            </div>
                            <div class="form-check mb-3">
                                <input formControlName="alertas" name="alertas" class="form-check-input" type="checkbox" id="checkbox">
                                <label class="form-check-label text-secondary" for="checkbox">
										<small>
											Quiero recibir alertas de email con anuncios similares
										</small>
									</label>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg  button btn-radius">Enviar</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel">
                        <form [formGroup]="formulario_mensaje" autocomplete="off" (ngSubmit)="contactar_formulario_mensaje()">
                            <div class="form-floating mb-3">
                                <input formControlName="nombre" name="nombre" type="text" id="nombre" class="form-control" [class.is-invalid]="nombreNoValido_mensaje">
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Ingrese su nombre
                                </div>
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input formControlName="correo" name="correo" type="text" id="email" class="form-control" [class.is-invalid]="correoNoValido_mensaje">
                                <label for="email">Correo</label>
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Ingrese un correo válido
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input formControlName="telefono" name="telefono" type="text" id="telefono" class="form-control" [class.is-invalid]="telefonoNoValido_mensaje">
                                <label for="telefono">Teléfono</label>
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Ingrese un número telefónico
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea formControlName="mensaje" name="mensaje" id="mensaje" class="form-control" [class.is-invalid]="mensajeNoValido_mensaje"></textarea>
                                <label for="mensaje">Tu mensaje</label>
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Ingrese un mensaje
                                </div>
                            </div>
                            <div class="form-check mb-3">
                                <input formControlName="alertas" name="alertas" class="form-check-input" type="checkbox" id="checkbox">
                                <label class="form-check-label text-secondary" for="checkbox">
										<small>
											Quiero recibir alertas de email con anuncios similares
										</small>
									</label>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg  button btn-radius">Enviar</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="tab3" role="tabpanel">
                        <form [formGroup]="formulario_mensaje" autocomplete="off" (ngSubmit)="contactar_formulario_mensaje()">
                            <div class="form-floating mb-3">
                                <input formControlName="nombre" name="nombre" type="text" id="nombre" class="form-control" [class.is-invalid]="nombreNoValido_mensaje">
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Ingrese su nombre
                                </div>
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input formControlName="correo" name="correo" type="text" id="email" class="form-control" [class.is-invalid]="correoNoValido_mensaje">
                                <label for="email">Correo</label>
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Ingrese un correo válido
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <input formControlName="telefono" name="telefono" type="text" id="telefono" class="form-control" [class.is-invalid]="telefonoNoValido_mensaje">
                                <label for="telefono">Teléfono</label>
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Ingrese un número telefónico
                                </div>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea formControlName="mensaje" name="mensaje" id="mensaje" class="form-control" [class.is-invalid]="mensajeNoValido_mensaje"></textarea>
                                <label for="mensaje">Tu mensaje</label>
                                <div id="validationServer03Feedback" class="invalid-feedback">
                                    Ingrese un mensaje
                                </div>
                            </div>
                            <div class="form-check mb-3">
                                <input formControlName="alertas" name="alertas" class="form-check-input" type="checkbox" id="checkbox">
                                <label class="form-check-label text-secondary" for="checkbox">
										<small>
											Quiero recibir alertas de email con anuncios similares
										</small>
									</label>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg  button btn-radius">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="!mostrar_formulario" class="mb-4">
                <h5 class="d-block text-dark fw-bold mb-0">Datos del Vendedor</h5>
                <small class="text-muted ">Nombre: {{ propiedad.nombre_contacto }}</small><br>
                <small class="text-muted ">Correo: {{ propiedad.correo_contacto }}</small><br>
                <small class="text-muted ">Teléfono: 948745738</small><br>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <h5 class="text-dark fw-bold">Recomendados</h5>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
            <div class="card border border-0 bg-light mb-4 rounded-3">
                <div class="overlay-warning rounded-3">
                    <div class="d-grid">
                        <a href="#" class="btn btn-light btn-lg shadow text-primary fw-bold btn-radius">COMPRAR</a>
                    </div>
                </div>
                <div class="card-img">
                    <img class="card-img-top" src="http://via.placeholder.com/120x100">
                    <div class="price text-truncate">S/ 99,999.00</div>
                </div>
                <div class="card-body">
                    <h5 class="text-muted fw-bold mb-0">Departamento en Cayma</h5>
                    <small class="d-block text-warning fw-semibold">
                        Calle Los Cipreses 100
                    </small>
                    <small class="d-block text-warning fw-semibold mb-4">
                        La Molina - Lima
                    </small>
                    <small class="d-block text-muted mb-2">
                        150m²AC | 3 dorm. | 3 baños
                    </small>
                    <small class="text-primary fw-semibold d-block mb-2">12 de may at 12:10 PM</small>
                    <div class="social">
                        <img src="https://via.placeholder.com/32" class="rounded-circle">
                        <span class="text-muted">John Doe <br>
                            <div class="rating">
                                <img src="./assets/img/icons/star-fill.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="card border border-0 bg-light mb-4 rounded-3">
                <div class="overlay-warning rounded-3">
                    <div class="d-grid">
                        <a href="#" class="btn btn-light btn-lg shadow text-primary fw-bold btn-radius">COMPRAR</a>
                    </div>
                </div>
                <div class="card-img">
                    <img class="card-img-top" src="http://via.placeholder.com/120x100">
                    <div class="price text-truncate">S/ 99,999.00</div>
                </div>
                <div class="card-body">
                    <h5 class="text-muted fw-bold mb-0">Departamento en Cayma</h5>
                    <small class="d-block text-warning fw-semibold">
                        Calle Los Cipreses 100
                    </small>
                    <small class="d-block text-warning fw-semibold mb-4">
                        La Molina - Lima
                    </small>
                    <small class="d-block text-muted mb-2">
                        150m²AC | 3 dorm. | 3 baños
                    </small>
                    <small class="text-primary fw-semibold d-block mb-2">12 de may at 12:10 PM</small>
                    <div class="social">
                        <img src="https://via.placeholder.com/32" class="rounded-circle">
                        <span class="text-muted">John Doe <br>
                            <div class="rating">
                                <img src="./assets/img/icons/star-fill.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="card border border-0 bg-light mb-4 rounded-3">
                <div class="overlay-warning rounded-3">
                    <div class="d-grid">
                        <a href="#" class="btn btn-light btn-lg shadow text-primary fw-bold btn-radius">COMPRAR</a>
                    </div>
                </div>
                <div class="card-img">
                    <img class="card-img-top" src="http://via.placeholder.com/120x100">
                    <div class="price text-truncate">S/ 99,999.00</div>
                </div>
                <div class="card-body">
                    <h5 class="text-muted fw-bold mb-0">Departamento en Cayma</h5>
                    <small class="d-block text-warning fw-semibold">
                        Calle Los Cipreses 100
                    </small>
                    <small class="d-block text-warning fw-semibold mb-4">
                        La Molina - Lima
                    </small>
                    <small class="d-block text-muted mb-2">
                        150m²AC | 3 dorm. | 3 baños
                    </small>
                    <small class="text-primary fw-semibold d-block mb-2">12 de may at 12:10 PM</small>
                    <div class="social">
                        <img src="https://via.placeholder.com/32" class="rounded-circle">
                        <span class="text-muted">John Doe <br>
                            <div class="rating">
                                <img src="./assets/img/icons/star-fill.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="card border border-0 bg-light mb-4 rounded-3">
                <div class="overlay-warning rounded-3">
                    <div class="d-grid">
                        <a href="#" class="btn btn-light btn-lg shadow text-primary fw-bold btn-radius">COMPRAR</a>
                    </div>
                </div>
                <div class="card-img">
                    <img class="card-img-top" src="http://via.placeholder.com/120x100">
                    <div class="price text-truncate">S/ 99,999.00</div>
                </div>
                <div class="card-body">
                    <h5 class="text-muted fw-bold mb-0">Departamento en Cayma</h5>
                    <small class="d-block text-warning fw-semibold">
                        Calle Los Cipreses 100
                    </small>
                    <small class="d-block text-warning fw-semibold mb-4">
                        La Molina - Lima
                    </small>
                    <small class="d-block text-muted mb-2">
                        150m²AC | 3 dorm. | 3 baños
                    </small>
                    <small class="text-primary fw-semibold d-block mb-2">12 de may at 12:10 PM</small>
                    <div class="social">
                        <img src="https://via.placeholder.com/32" class="rounded-circle">
                        <span class="text-muted">John Doe <br>
                            <div class="rating">
                                <img src="./assets/img/icons/star-fill.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                                <img src="./assets/img/icons/star-empty.svg">
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="publicar.html" class="btn btn-lg btn-float text-white shadow fw-bold btn-radius"><i class="lnr lnr-plus"></i> PUBLICAR</a>