<!-- <p>checkout-test works!</p> -->
<!-- payment form -->
<br><br>
<!-- <div style="width: 300px; margin: auto;">
    <div class="kr-embedded" kr-form-token="26">

        <div class="kr-pan"></div>
        <div class="kr-expiry"></div>
        <div class="kr-security-code"></div>

        <button class="kr-payment-button"></button>

        <div class="kr-form-error"></div>
    </div>
</div> -->

<!-- <div id="paymentForm" class="kr-embedded" style="display: none;">


    <div class="kr-pan"></div>
    <div class="kr-expiry"></div>
    <div class="kr-security-code"></div>


    <button class="kr-payment-button"></button>


    <div class="kr-form-error"></div>
</div> -->


<div class="form">
    <h1>Test pago</h1>
    <div style="display: flex; justify-content: center;">
        <div #myPaymentForm id="myPaymentForm"></div>
    </div>
</div>