<div class="container my-4">
    <div class="row">
        <div class="col-lg-3 col-md-4 mb-4">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-9 col-md-8 ps-6">
            <div class="mb-4">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                        <li class="breadcrumb-item">Administrar propiedad</li>
                        <li class="breadcrumb-item">Publicación</li>
                    </ol>
                </nav>
            </div>
            <div class="mb-4">
                <h3 class="text-primary fw-bold">CONTACTO</h3>
            </div>
            <form [formGroup]="formulario" autocomplete="off" (ngSubmit)="finalizar()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input formControlName="nombre" name="nombre" id="nombre" class="form-control" [class.is-invalid]="nombreNoValido">
                            <label for="nombre">Nombre de contacto</label>
                            <div class="invalid-feedback">
                                Ingrese nombre
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input formControlName="correo" name="correo" id="correo" class="form-control" [class.is-invalid]="correoNoValido">
                            <label for="correo">Correo de contacto</label>
                            <div class="invalid-feedback">
                                Ingrese correo
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input formControlName="fono1" type="number" name="fono1" id="celular1" class="form-control" [class.is-invalid]="fono1NoValido">
                            <label for="celular1">Número de celular 1</label>
                            <div class="invalid-feedback">
                                Ingrese número telefónico
                            </div>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="checkbox1">
                            <label class="form-check-label text-success small" for="checkbox1">
                                Está asociado a una cuenta de Whatsapp
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input formControlName="fono2" type="number" name="fono2" id="celular2" class="form-control" [class.is-invalid]="fono2NoValido">
                            <label for="celular2">Número de celular 2</label>
                            <div class="invalid-feedback">
                                Ingrese número telefónico
                            </div>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="checkbox2">
                            <label class="form-check-label text-success small" for="checkbox2">
                                Está asociado a una cuenta de Whatsapp
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select formControlName="tipo_anunciante" name="tipo_anunciante" id="tipo" class="form-select" [class.is-invalid]="tipo_anuncianteNoValido">
                                <option value="0">(Seleccionar)</option>
                                <option value="1">Dueño directo</option>
                                <option value="2">Empresa</option>
                            </select>
                            <label for="tipo">Tipo de anunciante</label>
                            <div class="invalid-feedback">
                                Seleccione tipo de anunciante
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="mb-4">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="switch">Mostrar mi número de telefono en mis anuncios</label>
                        <input class="form-check-input" type="checkbox" id="switch">
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" (click)="regresar()" class="btn btn-outline-primary btn-lg btn-large border-2 btn-radius mb-4">Atrás</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-warning btn-lg btn-large btn-radius d-block ms-auto">Guardar cambios</button>
                    </div>
                </div>
                <!-- <div class="mb-4">
                    <button type="submit" class="btn btn-primary btn-lg btn-large button btn-radius">Guardar cambios</button>
                </div> -->
            </form>
        </div>
    </div>
</div>