<div class="container my-4">
    <div class="mb-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item">Autos</li>
                <li class="breadcrumb-item">Busqueda</li>
            </ol>
        </nav>
    </div>
    <div class="mb-4">
        <h3 class="text-primary fw-bold">BUSQUEDA</h3>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="mb-2">
                <a href="./assets/img/placeholder/1000x400.png" id="linkImgFull" data-fslightbox>
                    <img src="./assets/img/placeholder/1000x400.png" class="w-100" id="imgFull" alt="">
                </a>
            </div>
            <div class="row mb-4">
                <div class="slick">
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_1.png" class="imgBox" alt="">
                    </div>
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_2.png" class="imgBox" alt="">
                    </div>
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_3.png" class="imgBox" alt="">
                    </div>
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_4.png" class="imgBox" alt="">
                    </div>
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_5.png" class="imgBox" alt="">
                    </div>
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_6.png" class="imgBox" alt="">
                    </div>
                    <div class="ratio ratio-1x1">
                        <img src="./assets/img/placeholder/1000x400_6.png" class="imgBox" alt="">
                    </div>
                </div>
            </div>
            <div class="card border-0 mb-4">
                <div class="card-header fw-bold text-muted">
                    Descripción
                </div>
                <div class="card-body text-justify text-muted">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit iure itaque rerum optio modi inventore consectetur, maxime possimus nesciunt, harum, maiores quae sint dolores ea veritatis amet dicta. Magni, accusamus.
                </div>
            </div>
            <div class="card border-0 mb-4">
                <div class="card-header fw-bold text-muted">
                    Detalles
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td class="text-white bg-primary">Marca</td>
                            <td class="text-primary bg-light fw-bold">Toyota</td>
                        </tr>
                        <tr>
                            <td class="text-white bg-primary">Modelo</td>
                            <td class="text-primary bg-light fw-bold">COROLLA</td>
                        </tr>
                        <tr>
                            <td class="text-white bg-primary">Categoría</td>
                            <td class="text-primary bg-light fw-bold">Sedan</td>
                        </tr>
                        <tr>
                            <td class="text-white bg-primary">Año</td>
                            <td class="text-primary bg-light fw-bold">2019</td>
                        </tr>
                        <tr>
                            <td class="text-white bg-primary">Kilometraje</td>
                            <td class="text-primary bg-light fw-bold">40000</td>
                        </tr>
                        <tr>
                            <td class="text-white bg-primary">Tipo de transmisión</td>
                            <td class="text-primary bg-light fw-bold">Automática - Secuencial</td>
                        </tr>
                        <tr>
                            <td class="text-white bg-primary">Combustible</td>
                            <td class="text-primary bg-light fw-bold">Gasolina</td>
                        </tr>
                        <tr>
                            <td class="text-white bg-primary">Cilindrada (cc)</td>
                            <td class="text-primary bg-light fw-bold">1800</td>
                        </tr>
                        <tr>
                            <td class="text-white bg-primary">Timón</td>
                            <td class="text-primary bg-light fw-bold">Original</td>
                        </tr>
                        <tr>
                            <td class="text-white bg-primary">Número de puertas</td>
                            <td class="text-primary bg-light fw-bold">5</td>
                        </tr>
                        <tr>
                            <td class="text-white bg-primary">Tracción</td>
                            <td class="text-primary bg-light fw-bold">4x2</td>
                        </tr>
                        <tr>
                            <td class="text-white bg-primary">Color</td>
                            <td class="text-primary bg-light fw-bold">Negro</td>
                        </tr>
                        <tr>
                            <td class="text-white bg-primary">Número de cilindros</td>
                            <td class="text-primary bg-light fw-bold">4</td>
                        </tr>
                        <tr>
                            <td class="text-white bg-primary">Ubicación</td>
                            <td class="text-primary bg-light fw-bold">Lima - Lima - Lima</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <span class="text-primary fw-semibold d-block">Lima, La Molina</span>
            <h3 class="text-secondary fw-bold"><span class="text-primary">Toyota</span> Neque porro quisquam est qui</h3>
            <span class="text-dark fw-semibold d-block mb-4">14 May 2021</span>
            <span class="d-block h1 fw-bold mb-4">S/ 99,999.00</span>
            <div class="p-3 border border-dark rounded-3 text-secondary fw-normal mb-4">
                <span class="d-block mb-2 fw-semibold">Por tu seguridad</span>
                <ul>
                    <li>No hagas transferencias o adelantos de dinero sin ver el vehículo.</li>

                    <li>Ten cuidado con vendedores que dicen estar en el extranjero, o que evaden información.</li>
                </ul>
            </div>
            <h5 class="d-block text-dark fw-bold">Vendedor</h5>
            <div class="social mb-4">
                <img src="https://via.placeholder.com/32" class="rounded-circle">
                <span class="text-muted"><span class="fw-bold">John Doe</span> <br><small class="text-muted">Miembro desde ene 2018</small></span>
            </div>
            <div class="d-grid gap-2 mb-4">
                <button class="btn btn-primary btn-lg  button btn-radius" data-bs-toggle="modal" data-bs-target="#modalContacto">Contacta con el vendedor</button>
                <button href="#" class="btn btn-dark btn-lg button">Mostrar el número</button>
            </div>
            <div class="mb-4">
                <h5 class="d-block text-dark fw-bold mb-0">Ubicado en</h5>
                <small class="text-muted ">Calle Puerta del sol 465 - La Molina</small>
            </div>
            <div class="mb-4">
                <img src="http://via.placeholder.com/400" class="w-100" alt="">
            </div>
        </div>
    </div>
    <div class="mb-4">
        <h5 class="text-dark fw-bold">Recomendados</h5>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
            <div class="card border border-0 bg-light mb-4 rounded-3">
                <div class="overlay-primary rounded-3">
                    <div class="d-grid">
                        <a href="#1" class="btn btn-light btn-lg shadow text-primary fw-bold" style="">COMPRAR</a>
                    </div>
                </div>
                <div class="card-img">
                    <img class="card-img-top" src="http://via.placeholder.com/120x100">
                    <div class="price text-truncate">S/ 99,999.00</div>
                </div>
                <div class="card-body text-truncate">
                    <span class="text-dark fw-bold">Toyota</span>
                    <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                    <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                    <div class="social">
                        <img src="https://via.placeholder.com/32" class="rounded-circle">
                        <span class="text-muted">John Doe</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="card border border-0 bg-light mb-4 rounded-3">
                <div class="overlay-primary rounded-3">
                    <div class="d-grid">
                        <a href="#1" class="btn btn-light btn-lg shadow text-primary fw-bold" style="">COMPRAR</a>
                    </div>
                </div>
                <div class="card-img">
                    <img class="card-img-top" src="http://via.placeholder.com/120x100">
                    <div class="price text-truncate">S/ 99,999.00</div>
                </div>
                <div class="card-body text-truncate">
                    <span class="text-dark fw-bold">Toyota</span>
                    <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                    <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                    <div class="social">
                        <img src="https://via.placeholder.com/32" class="rounded-circle">
                        <span class="text-muted">John Doe</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="card border border-0 bg-light mb-4 rounded-3">
                <div class="overlay-primary rounded-3">
                    <div class="d-grid">
                        <a href="#1" class="btn btn-light btn-lg shadow text-primary fw-bold" style="">COMPRAR</a>
                    </div>
                </div>
                <div class="card-img">
                    <img class="card-img-top" src="http://via.placeholder.com/120x100">
                    <div class="price text-truncate">S/ 99,999.00</div>
                </div>
                <div class="card-body text-truncate">
                    <span class="text-dark fw-bold">Toyota</span>
                    <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                    <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                    <div class="social">
                        <img src="https://via.placeholder.com/32" class="rounded-circle">
                        <span class="text-muted">John Doe</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
            <div class="card border border-0 bg-light mb-4 rounded-3">
                <div class="overlay-primary rounded-3">
                    <div class="d-grid">
                        <a href="#1" class="btn btn-light btn-lg shadow text-primary fw-bold" style="">COMPRAR</a>
                    </div>
                </div>
                <div class="card-img">
                    <img class="card-img-top" src="http://via.placeholder.com/120x100">
                    <div class="price text-truncate">S/ 99,999.00</div>
                </div>
                <div class="card-body text-truncate">
                    <span class="text-dark fw-bold">Toyota</span>
                    <h3 class="text-muted fw-bold mb-4">SAR 2000</h3>
                    <small class="text-small text-primary fw-bold d-block mb-2">12 de may at 12:10 PM</small>
                    <div class="social">
                        <img src="https://via.placeholder.com/32" class="rounded-circle">
                        <span class="text-muted">John Doe</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="btn btn-lg btn-float text-white shadow fw-bold btn-radius"><i class="lnr lnr-plus"></i> VENDER</a>