<footer class="py-5 small">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <h5 class="mb-3">Categorias principales</h5>
                        <a class="d-block text-white mb-2" href="#">Autos</a>
                        <a class="d-block text-white mb-2" href="#">Propiedades</a>
                    </div>
                    <div class="col-md-4 mb-4">
                        <h5 class="mb-3">Lo más buscado</h5>
                        <a class="d-block text-white mb-2" href="#">Toyota Corolla</a>
                    </div>
                    <div class="col-md-4 mb-4">
                        <h5 class="mb-3">Información útil</h5>
                        <a class="d-block text-white mb-2" href="#">Contacto & ayuda</a>
                        <a class="d-block text-white mb-2" href="#">Consejos de seguridad</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <h5 class="mb-3">Síguenos</h5>
                        <div class="d-flex gap-2">
                            <a href="">
                                <img height="40" src="./assets/img/icons/twitter.png" alt="">
                            </a>
                            <a href="">
                                <img height="40" src="./assets/img/icons/facebook.png" alt="">
                            </a>
                            <a href="">
                                <img height="40" src="./assets/img/icons/whatsapp.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="d-block ms-auto mt-4" src="./assets/img/logo_blanco.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-end mt-4">
            &copy; 2021 Autos&Propiedades
        </div>
    </div>
</footer>